<?xml version="1.0"?>
<config>
    <modules>
        <DigitalUp_Skroutz>
            <version>0.1.0</version>
        </DigitalUp_Skroutz>
    </modules>
    <global>
        <blocks>
            <skroutz>
                <class>DigitalUp_Skroutz_Block</class>
            </skroutz>
        </blocks>
        <helpers>
            <skroutz>
                <class>DigitalUp_Skroutz_Helper</class>
            </skroutz>
        </helpers>
        <models>
            <skroutz>
                <class>DigitalUp_Skroutz_Model</class>
                <resourceModel>apifon_mysql4</resourceModel>
            </skroutz>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <skroutz>
                    <file>digitalup_skroutz.xml</file>
                </skroutz>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <skroutzanalytics_order_success>
                        <type>singleton</type>
                        <class>skroutz/observer</class>
                        <method>setSkroutzAnalyticsOnSuccessPageView</method>
                    </skroutzanalytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <routers>
            <skroutzcontroller>
                <use>standard</use>
                <args>
                    <module>DigitalUp_Skroutz</module>
                    <frontName>skroutz</frontName>
                </args>
            </skroutzcontroller>
        </routers>
    </frontend>
</config>